:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #0c1324;
  color: #dce1fb;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #070d1f;
}

::-webkit-scrollbar-marker {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(192, 193, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(192, 193, 255, 0.2);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
